{% extends 'hoteles/baseHotel.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenido %}

<div class="inicio">
    <h2>VAMOS A CREAR UN HOTEL</h2>
</div>

{% endblock %}