{% extends 'hoteles/baseHotel.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenido %}

<div class="inicio">
    <h2>CREAR HOTEL</h2>
    {{ form(hotelForm) }}
</div>

{% endblock %}