body{
    /* background-image: url('https://previews.123rf.com/images/topform8/topform81607/topform8160700014/59589395-viajes-fondo-transparente-con-iconos-en-estilo-gr%C3%A1fico.jpg'); */
    font-weight: bold;
    background-color: whitesmoke;
}
.dark{
    background-color: black;
    border: solid black 2px;
}
.dark:hover{
    background-color: grey;
    border: solid black 2px;
}
.myCard{
    background-color: lightseagreen;
    border: solid 2px lightseagreen;
    box-shadow: 0 0 15px lightseagreen;
}
.extra{
    border: 3px solid green;
    color: green;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    background-color: greenyellow;
    padding: 2px;
}
.bigCard{
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: lightseagreen;
    padding: 20px;
}
